@model MyStore.Models.Category
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<ul>
    <li>@Html.LabelFor(m => m.Id) : @Model.Id</li>
    <li>@Html.LabelFor(m => m.CategoryName) : @Model.CategoryName</li>
    <div>@Html.ActionLink("Back to List", "Index")</div>
</ul>